@page
@model WebApp.Pages.Pets.IndexModel

<div class="container">  
    <h1 class="my-3">Welcome to Petzy!</h1>
    <p>
        <a asp-page="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Is Vaccinated</th>
                <th>Age in months</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var pet in Model.Pets)
            {
                <tr>
                    <td>@pet.Id</td>
                    <td>@pet.Name</td>
                    <td>@pet.City</td>
                    <td>@pet.IsVaccinated</td>
                    <td>@pet.AgeInMonths</td>
                    <td>@pet.PetType</td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@pet.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>